/* src/components/Main.css */
.main-container {
  text-align: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

nav .button {
  margin-left: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.login {
  background-color: #f76c6c;
}

.signup {
  background-color: #6cbf76;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin: 50px 50px;
  text-align: left;
}

.content .text {
  max-width: 50%;
}

.content .image {
  max-width: 50%;
}

.content .image img {
  width: 100%;
  height: auto;
}

.content h1 {
  font-size: 36px;
}

.content p {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 50px;
}
