/* src/components/Main.css */
.main-container {
  text-align: center;
  /* padding: 20px; */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  align-items: center;
}

nav .button {
  margin-left: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.login {
  background-color: #f76c6c;
}

.signup {
  background-color: #6cbf76;
}

.profile {
  background-color: #3498db;
}

.logout {
  background-color: #e74c3c;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
  text-align: left;
  margin: 30px;
}

.content .text {
  max-width: 60%;
}

.content .image {
  max-width: 40%;
}

.content .image img {
  width: 100%;
  height: auto;
}

.content h1 {
  font-size: 36px;
}

.content p {
  font-size: 18px;
  margin-top: 20px;
}

.home {
  background-color: #3498db;
}

.text p{
  width: 80%;
}