/* src/components/Profile.css */
.profile-container {
    background-color: #f0f0f0; /* Light grey background */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .profile-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .profile-form input,
  .profile-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .profile-form button {
    width: 100%;
    padding: 10px;
    background-color: #6cbf76;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .profile-form button:hover {
    background-color: #5aad66;
  }
  