/* src/components/Signup.css and src/components/Login.css */
.signup-container, .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/circle-scatter-haikei.svg');
    background-size: cover;
    background-position: center;
  }
  
  .signup-form, .login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkorange;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  